<app-popup
  *ngIf="finishedLoop && supportOrientation && showWinnerText"
  [popup]="winnerPopup"
  (btnPopupClicked)="clickedWinnerPopup($event)"
></app-popup>

<app-popup
  *ngIf="showHowToPlay"
  [popup]="howToPlayPopup"
  (btnPopupClicked)="clickedhowToPlayPopup($event)"
></app-popup>

<app-popup
  *ngIf="showErrorText"
  [popup]="wrongGuessPopup"
  (btnPopupClicked)="clickedwrongGuessPopup($event)"
></app-popup>

<app-popup
  *ngIf="showLeaderboard"
  [popup]="leaderboardPopup"
  [isTop]="true"
  (btnPopupClicked)="clickedleaderboardPopup($event)"
></app-popup>

<div
  class="blur-container"
  *ngIf="!finishedLoop && supportOrientation && !showWinnerText && startGame"
></div>

<app-header
  [username]="username"
  [showProfileBox]="showProfileBox"
  [saveLoading]="saveLoading"
  [leaderLoading]="leaderLoading"
  (outputLeaderboard)="leaderboard()"
  (outputSave)="saveGame()"
  (outputHowToPlay)="howToPlay()"
  (outputProfileBox)="showProfile()"
></app-header>

<div class="wrapper">
  <div class="container error-container" *ngIf="!supportOrientation">
    <app-text [class]="'body-text'"
      >Please change screen to portrait mode</app-text
    >
  </div>

  <div class="container" *ngIf="supportOrientation">
    <div class="flex center" style="height: 64px">
      <app-text
        *ngIf="startGame"
        [class]="'player-clicked'"
        [ngClass]="{
          show: startGame && finishedLoop,
          hide: startGame && !finishedLoop
        }"
        >You have to guess {{ level }} times.</app-text
      >
      <app-button
        *ngIf="!startGame"
        [class]="'menu-btn'"
        (click)="startGameClicked()"
        >Start Game</app-button
      >
    </div>
    <app-simon-button (guess)="playerGuess($event)"></app-simon-button>
    <div *ngIf="showDebug">
      <app-text *ngFor="let data of simonArray">{{ data }}</app-text>
    </div>
  </div>
</div>
