<app-popup
  *ngIf="finishedLoop && supportOrientation && showWinnerText"
  [popup]="winnerPopup"
  (btnPopupClicked)="clickedWinnerPopup($event)"
></app-popup>

<app-popup
  *ngIf="showHowToPlay"
  [popup]="howToPlayPopup"
  (btnPopupClicked)="clickedhowToPlayPopup($event)"
></app-popup>

<app-popup
  *ngIf="showErrorText"
  [popup]="wrongGuessPopup"
  (btnPopupClicked)="clickedwrongGuessPopup($event)"
></app-popup>

<div
  class="blur-container"
  *ngIf="!finishedLoop && supportOrientation && !showWinnerText && startGame"
></div>

<div class="header">
  <div class="welcome-text">
    <app-text [class]="'player-clicked'" *ngIf="username"
      >Welcome {{ username }}</app-text
    >
    <app-text [class]="'howtoplay'" (click)="howToPlay()">How to play</app-text>
  </div>
  <div class="profile-wrapper">
    <div class="profile" (click)="showProfile()">
      <app-text [class]="'profile'">{{ username.slice(0, 3) }}</app-text>
    </div>
    <div class="profile-box" *ngIf="showProfileBox">
      <app-text [class]="'profile'" (click)="logout()">Log out</app-text>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container error-container" *ngIf="!supportOrientation">
    <app-text [class]="'body-text'"
      >Please change screen to portrait mode</app-text
    >
  </div>

  <div class="container" *ngIf="supportOrientation">
    <div class="flex center" style="height: 64px">
      <app-text
        *ngIf="startGame"
        [class]="'player-clicked'"
        [ngClass]="{
          show: startGame && finishedLoop,
          hide: startGame && !finishedLoop
        }"
        >You have to guess {{ simonArray.length }} times.</app-text
      >
      <app-button
        *ngIf="!startGame"
        [class]="'continue-btn'"
        (click)="startGameClicked()"
        >Start Game</app-button
      >
    </div>
    <app-simon-button (guess)="playerGuess($event)"></app-simon-button>
    <div *ngIf="showDebug">
      <app-text *ngFor="let data of simonArray">{{ data }}</app-text>
    </div>
  </div>
</div>

<!-- <div class="leaderboard-wrapper">
  <app-leader-board></app-leader-board>
</div> -->

<!-- <div class="button-wrapper">
  
</div> -->
