<div class="mobile-header">
  <div class="icon">
    <app-text [class]="'setting-header'">Simon</app-text>
  </div>
  <div class="menu" (click)="showProfile()">
    <app-image
      [class]="'hamburger'"
      [src]="'./assets/images/hamburger_menu.svg'"
      *ngIf="!showProfileBox"
    ></app-image>
    <app-image
      [class]="'hamburger'"
      [src]="'./assets/images/cancel_m.svg'"
      *ngIf="showProfileBox"
    ></app-image>
  </div>
</div>
<div class="mobile-profile-box" *ngIf="showProfileBox">
  <div class="profile-wrapper">
    <!-- <div class="profile-icon"></div> -->
    <div class="username">
      <app-text [class]="'profile'">Welcome {{ username }}</app-text>
    </div>
  </div>
  <div class="line"></div>
  <div class="menu-btn">
    <app-button
      [class]="'popup-btn1 header-btn-margin'"
      (click)="saveGame()"
      [loading]="saveLoading"
      >Save Game</app-button
    >
    <app-button
      [class]="'popup-btn2 header-btn-margin'"
      (click)="leaderboard()"
      [loading]="leaderLoading"
      >Leaderboard</app-button
    >
    <app-button
      [class]="'popup-btn3 header-btn-margin'"
      (click)="soundClicked()"
      [loading]="leaderLoading"
      >{{ sound ? "Sound: On" : "Sound: Off" }}</app-button
    >
    <app-button
      [class]="'popup-btn4  header-btn-margin'"
      (click)="leaderboard()"
      [loading]="leaderLoading"
      (click)="logout()"
      >Log out</app-button
    >
  </div>
</div>
