<div class="card" *ngIf="!showLoginForm">
  <form (keyup.enter)="$event.preventDefault(); signup()">
    <div class="header">
      <app-text [class]="'h2-strong text-c300'">
        Let's create an account to play
      </app-text>
      <app-text [class]="'light-body-l text-c100'">or</app-text>
      <app-text [class]="'h3-strong text-g100 cursor'" (click)="showLogin()"
        >Log in here</app-text
      >
    </div>
    <div class="username">
      <app-input
        [hint]="'Username'"
        [control]="form.get('username')"
        [width]="'100%'"
        [class]="usernameClass"
        (blurEvent)="blurInput($event)"
        [type]="'text'"
      >
      </app-input>
      <app-text
        [class]="'light-body-m text-c300 desc-text'"
        *ngIf="!form.get('username').errors || !clickBtn"
      >
        You can use your email as username.
      </app-text>
      <app-text
        *ngIf="form.get('username').errors && clickBtn"
        [class]="'form-error-label'"
      >
        Username is require.
      </app-text>
    </div>

    <div class="password">
      <app-input
        [hint]="'Password'"
        [control]="form.get('password')"
        [width]="'100%'"
        [class]="passwordClass"
        (blurEvent)="blurInput($event)"
        [type]="togglePassword"
      >
      </app-input>
      <app-text
        [class]="'light-body-m text-c300 desc-text'"
        *ngIf="!form.get('password').errors || !clickBtn"
      >
        Passwords must be 8 characters or more
      </app-text>
      <app-text
        *ngIf="form.get('password').errors && clickBtn"
        [class]="'form-error-label'"
      >
        Passwords must be 8 characters or more
      </app-text>
    </div>
  </form>
  <app-button
    [class]="'signup-btn cursor'"
    (click)="signup()"
    [loading]="btnLoading"
  >
    <app-text [class]="'h2-strong text-c300'" [loading]="btnLoading"
      >Sign up</app-text
    >
  </app-button>
</div>

<div class="card" *ngIf="showLoginForm">
  <form (keyup.enter)="$event.preventDefault(); login()">
    <div class="header">
      <app-text [class]="'h2-strong text-c300'">
        Log in to your account
      </app-text>
      <app-text [class]="'light-body-l text-c100'">or</app-text>
      <app-text [class]="'h3-strong text-g100 cursor'" (click)="showSignup()"
        >Signup here</app-text
      >
    </div>
    <div class="username">
      <app-input
        [hint]="'Username'"
        [control]="form.get('username')"
        [width]="'100%'"
        [class]="usernameClass"
        (blurEvent)="blurInput($event)"
        [type]="'text'"
      >
      </app-input>
      <app-text
        [class]="'light-body-m text-c300 desc-text'"
        *ngIf="!form.get('username').errors || !clickBtn"
      >
        You can use email as well.
      </app-text>
      <app-text
        *ngIf="form.get('username').errors && clickBtn"
        [class]="'form-error-label'"
      >
        Username is require.
      </app-text>
    </div>

    <div class="password">
      <app-input
        [hint]="'Password'"
        [control]="form.get('password')"
        [width]="'100%'"
        [class]="passwordClass"
        (blurEvent)="blurInput($event)"
        [type]="togglePassword"
      >
      </app-input>
      <app-text
        [class]="'light-body-m text-c300 desc-text'"
        *ngIf="!form.get('password').errors || !clickBtn"
      >
        Passwords must be 8 characters or more
      </app-text>
      <app-text
        *ngIf="form.get('password').errors && clickBtn"
        [class]="'form-error-label'"
      >
        Passwords must be 8 characters or more
      </app-text>
    </div>
  </form>

  <app-button
    [class]="'signup-btn cursor'"
    [loading]="btnLoading"
    (click)="login()"
  >
    <app-text [class]="'h2-strong text-c300'" [loading]="btnLoading"
      >Log in</app-text
    >
  </app-button>
</div>
