.card{
  width: 343px;
  height: 482px;
  background: #FFFFFF;
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hey-text{
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}
.create-text{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
}
.desc-text{
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
}
.create-text-mobile{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  display: none;
}
.form-wrapper{
  margin-top: 12px;
}
.continue-btn{
  margin-top: 32px;
}

@media screen and (max-width: 600px) {
  .card{
    padding: 24px;
  }
  .create-text, .small-logo{
    display: none;
  }
  .create-text-mobile{
    display: flex;
  }
  .form-wrapper{
    margin-top: 8px;
  }
  .continue-btn{
    margin-top: 24px;
  }
  .desc-text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
  }
}
