input,
textarea {
  outline: none;
  background: transparent;
}

input {
  width: 343px;
  height: 48px;
  background: #f7f9fa;
  border: 2px solid #e8e9eb;
  box-sizing: border-box;
  border-radius: 12px;
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
}

input::placeholder {
  font-feature-settings: "tnum" on, "lnum" on;
  color: #5c6773;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

input:focus {
  border: 2.5px solid #ff14a1;
}

input:hover {
  background: #ffffff;
}

.input-err {
  background: #fbf7ec;
  border: 2.5px solid #ff9e99;
  box-sizing: border-box;
  border-radius: 16px;
  height: 48px !important;
  padding: 7px 30px 7px 16px;
}
