.form-error-label {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #e63c39;
}

.profile {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: black;
}
.setting-header {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  font-feature-settings: "tnum" on, "lnum" on;
  /* color: black; */
  color: #7d6f4b;
}
.setting-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.howtoplay {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: green;
  margin-top: 8px;
}

.howtoplay-header {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: green;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.how-text {
  color: black;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.win-text {
  color: black;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.player-clicked {
  color: black;
  font-size: 32px;
  line-height: 24px;
  font-weight: bold;
}

.body-text {
  font-size: 2rem;
  color: black;
  line-height: 24px;
  font-weight: bold;
}
