<div
  class="item-wrapper"
  [ngClass]="{
    'class-0': index == 0 && currentRank,
    'class-1': index == 0 && !currentRank,
    'class-2': index == 1,
    'class-3': index == 2,
    'class-4': index == 3,
    'class-5': index == 4
  }"
>
  <div class="item1">
    <app-text
      [class]="index == 0 ? 'leaderboard-big-top1' : 'leaderboard-big-other'"
      >{{ item.value1 }}</app-text
    >
  </div>
  <div class="item2">
    <app-text
      [class]="
        index == 0 ? 'leaderboard-small-top1' : 'leaderboard-small-other'
      "
      >{{ item.value2 }}</app-text
    >
  </div>
  <div class="item3">
    <app-text
      [class]="
        index == 0 ? 'leaderboard-small-top1' : 'leaderboard-small-other'
      "
      >{{ item.value3 }}</app-text
    >
  </div>
</div>
