button {
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent; /* prevent blur when click in mobile screen */
}

.my-works {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #efdb15;
  box-shadow: 0px 4px 0px #cebe19;
  background: #cebe19;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #52692a;
}

.about {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #92e5e6;
  box-shadow: 0px 4px 0px #5db7b7;
  background: #5db7b7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #52692a;
}

.contact {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #a7d848;
  box-shadow: 0px 4px 0px #799e30;
  background: #799e30;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #52692a;
}

.my-works,
.about {
  margin-right: 28px;
}

.signup-btn {
  height: 48px;
  width: 343px;
  border-radius: 24px;
  background-color: #efdb15;
  box-shadow: 0px 4px 0px #cebe19;
}

.simon-bg-red{
  background: #e63c39;
}
.simon-bg-yellow{
  background: #ffbf00
}
.simon-bg-green{
  background: #00a653;
}
.simon-bg-blue{
  background: #0065f2;
}

.simon-bg-red:active, .simon-bg-red.active{
  background: #8c1e1c;
}
.simon-bg-yellow:active, .simon-bg-yellow.active{
  background: #805500;
}
.simon-bg-green:active, .simon-bg-green.active{
  background: #00593c;
}
.simon-bg-blue:active, .simon-bg-blue.active{
  background: #0043a1;;
}



.simon-top-left{
  border-top-left-radius: 100%;
}
.simon-top-right{
  border-top-right-radius: 100%;
}
.simon-bottom-left{
  border-bottom-left-radius: 100%;
}
.simon-bottom-right{
  border-bottom-right-radius: 100%;
}


.continue-btn {
  width: 120px;
  height: 48px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 12px;
  margin-top: 8px;
  cursor: pointer;
}


@media screen and (max-width:420px) {
  .simon-bg-red,
  .simon-bg-yellow,
 .simon-bg-green,
 .simon-bg-blue,
   .simon-btn
   {
     width:90px;
     height: 90px;
   }
 
   .simon-bg-red:active, .simon-bg-red.active, 
   .simon-bg-yellow:active, .simon-bg-yellow.active, 
   .simon-bg-green:active, .simon-bg-green.active, 
   .simon-bg-blue:active, .simon-bg-blue.active
   {
     width:95px;
     height: 95px;
   }
 

}



@media screen and (min-width:420px) {
.simon-bg-red,
 .simon-bg-yellow,
.simon-bg-green,
.simon-bg-blue,
  .simon-btn
  {
    width:310px;
    height: 310px;
  }

  .simon-bg-red:active, .simon-bg-red.active, 
  .simon-bg-yellow:active, .simon-bg-yellow.active, 
  .simon-bg-green:active, .simon-bg-green.active, 
  .simon-bg-blue:active, .simon-bg-blue.active
  {
    width:320px;
    height: 320px;
  }

}