button {
  outline: none;
  border: none;
}

.my-works {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #efdb15;
  box-shadow: 0px 4px 0px #cebe19;
  background: #cebe19;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #52692a;
}

.about {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #92e5e6;
  box-shadow: 0px 4px 0px #5db7b7;
  background: #5db7b7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #52692a;
}

.contact {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #a7d848;
  box-shadow: 0px 4px 0px #799e30;
  background: #799e30;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #52692a;
}

.my-works,
.about {
  margin-right: 28px;
}

.signup-btn {
  height: 48px;
  width: 343px;
  border-radius: 24px;
  background-color: #efdb15;
  box-shadow: 0px 4px 0px #cebe19;
}
